@page
@model ListaZakupów.Pages.MojeListy.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JednaLista</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JednaLista.Item)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JednaLista.Item)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JednaLista.IsBought)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JednaLista.IsBought)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.JednaLista?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
